<!DOCTYPE html>
<html ng-app="warface">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="assets/theme/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/theme/lib/material-design-icons/css/material-design-iconic-font.min.css"/><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/theme/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css"/>
    <link rel="stylesheet" type="text/css" href="assets/theme/lib/jqvmap/jqvmap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="assets/theme/css/style.css" type="text/css"/>
</head>
<body>


	<div class="be-wrapper be-fixed-sidebar">

		<!-- Nav -->
		<nav class="navbar navbar-default navbar-fixed-top be-top-header">
        	<div class="container-fluid">
   
          		<div class="navbar-header"><a href="#/" class="navbar-brand"></a></div>
          		<div class="be-right-navbar">
            		<ul class="nav navbar-nav navbar-right be-user-nav">
              			
              			<li class="dropdown">

              				<a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
              					<img src="assets/theme/img/avatar.png" alt="Avatar">
              					<span class="user-name">Admin</span>
              				</a>
			                	
			                <ul role="menu" class="dropdown-menu">
				                <li>
					                <div class="user-info">
					                	<div class="user-name">Rubens Mesquita</div>
					                    <div class="user-position online">Online</div>
					                </div>
				                </li>
				                <li><a href="#"><span class="icon mdi mdi-face"></span> Perfil</a></li>
				                <li><a href="#"><span class="icon mdi mdi-settings"></span> Configurações</a></li>
				               	<li><a href="#"><span class="icon mdi mdi-power"></span> Sair</a></li>
				            </ul>

              			</li>

            		</ul>
	            	<div class="page-title"><span>Dashboard</span></div>
	            	<ul class="nav navbar-nav navbar-right be-icons-nav">
	              		<li class="dropdown"><a href="#/config" role="button" aria-expanded="false" class="be-toggle-right-sidebar"><span class="icon mdi mdi-settings"></span></a></li>
	            	</ul>
          		</div>
        	</div>
      	</nav>

      	<div class="be-left-sidebar">
        	<div class="left-sidebar-wrapper">
        		
        		<a href="#" class="left-sidebar-toggle">Dashboard</a>
          		<div class="left-sidebar-spacer">
            		<div class="left-sidebar-scroll">
             			<div class="left-sidebar-content">
                			<ul class="sidebar-elements">
                  				<li class="divider">Menu</li>
                  				<li ng-class="{ active: isActive('/') }">
                  					<a href="#/"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                  				</li>
                  				<li ng-class="{ active: isActive('/store') }">
                  					<a href="#/store"><i class="icon mdi mdi-store"></i><span>Loja</span></a>
                  				</li>
                			</ul>
              			</div>
            		</div>
          		</div>

        	</div>
      	</div>

      	<div class="be-content">
				  <ng-view></ng-view>
		    </div>

	</div>

	<!-- Assets -->
	<script src="assets/angular/angular.min.js"></script>
	<script src="assets/angular-route/angular-route.min.js"></script>

  <!-- Assets THEME -->
  <script src="assets/theme/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
  <script src="assets/theme/js/main.js" type="text/javascript"></script>
  <script src="assets/theme/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/countup/countUp.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="assets/theme/lib/jquery.niftymodals/dist/jquery.niftymodals.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      App.init();
      App.dashboard();
    });
  </script>

  <script type="text/javascript">
      $.fn.niftyModal('setDefaults',{
        overlaySelector: '.modal-overlay',
        closeSelector: '.modal-close',
        classAddAfterOpen: 'modal-show',
      });
      
      $(document).ready(function(){
        //initialize the javascript
        App.init();
      });
    </script>

	<!-- Modules -->
	<script src="modules/dashboard/controller.js"></script>
  <script src="modules/store/controller.js"></script>

	<!-- App -->
	<script src="js/app.js"></script>

</body>
</html>